$blue: #5868D9;
.siderNav{
  .SiderNav{
    position: fixed;
    left: 0;
    top:0;
    width: 50px;
    padding-top: 30px;
    background:rgba(32,40,82,1);
    z-index: 100;
    >ul{
      >li{
        width: 100%;
        height: 55px;
        position: relative;
        .li_hover{
          position: absolute;
          left: 52px;
          top: 0;
          display: none;
          ul{
            height: auto;
            li{
              >a{
                background:rgba(32,40,82,1);
                padding:0 20px;
                height: 30px;
                min-width:100px;
                display: block;
                font-size: 12px;
                line-height: 30px;
                text-align: center;
                color: #fff;
                &:hover{
                  background: #14182F;
                }
              }
            }
          }
          
        }
        &:hover{
          .li_hover{
            display: block;
          }
        }
        &.active{
          background: #14182F;
        }
        a{
          width: 100%;
          height: 55px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        img{
          width: 18px;
          height:18px;
        }
        span{
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

  .logonHeader{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 50;
    box-shadow: #e8e8e8 0px 1px 10px 0px;
    header{
      width: 100%;
      height: 60px;
      background: #fff;
      display: flex;
      justify-content: space-between;
      .header-logo{
        display: flex;
        align-items: center;
        padding-left: 20px;
        img{
          margin-top: 4px;
          margin-right: 12px;
        }
        span{
          font-size: 14px;
          font-weight: 600; 
        }
        .logo_text{
          h3{
            height: 12px;
            font-size:12px;
            font-family:MicrosoftYaHei;
            font-weight:bold;
            color:rgba(53,53,53,1);;
          }
          span{
            height: 8px;
            font-size:8px;
            font-family:MicrosoftYaHei;
            font-weight:bold;
            color:rgba(153,153,153,1);
          }
         
        }
      } 
      .header-set{
        padding-right: 12px;
        .header_set_content{
          height: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
          // span{
          //   padding: 0 12px;
          // }
          .user-area {
            padding: 0 12px;
            margin: 0;
            text-align: center;
            .user-name {
              display: block;
              color: $blue;
              font-size: 14px;
            }
            .company-name {
              display: block;
              color: #666;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.siderNav_header_Nav{
  display: block;
  text-align: center;
  font-size: 12px;
}
