.Login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background-color: #fff;

  .header-logo {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 24px;
    z-index: 12;
    background-color: #fff;

    img {
      margin-top: 4px;
      margin-right: 12px;
    }

    .logo_text {
      h3 {
        height: 12px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        font-weight: 700;
        color: #353535;
        margin-bottom: 6px;
      }

      span {
        height: 8px;
        font-size: 8px;
        font-family: MicrosoftYaHei;
        font-weight: 700;
        color: #999;
      }
    }
  }

  .LoginContaner {
    height: 100%;

    main {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 110px;
      }

      .loginArert {
        width: 36rem;
        height: 20rem;
        position: fixed;
        left: 0;
        right: -22%;
        bottom: 0;
        top: 0;
        margin: auto;

        .loginArertContaner {
          display: flex;
          width: 100%;
          height: 100%;

          .loginArert_left {
            width: 40%;
            height: 100%;
            position: relative;

            .opcity_loginArert_left,
            .content_loginArert_left {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              h3 {
                color: #fff;

                &:first-child {
                  margin-bottom: 1rem;

                  @media screen and (min-width: 1600px) {
                    margin-bottom: 2rem;
                  }

                  @media screen and (max-width: 1600px) and (min-width: 1400px) {
                    margin-bottom: 1rem;
                  }

                  @media screen and (max-width: 1400px) {
                    margin-bottom: 1rem;
                  }
                }

              }
            }

            .opcity_loginArert_left {
              background: rgba(255, 255, 255, 1);
              opacity: 0.2;

            }

          }

          .loginArert_right {
            width: 60%;
            height: 100%;
            background: rgba(255, 255, 255, 1);
            opacity: 0.9;
          }
        }



      }
    }

    footer {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 110px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(217, 217, 217, 1);
    }
  }
}