.ContractExpress {
  .ant-form-item {
    width: 330px;
    margin: 10px;
  }
  &.readOnly {
    input,
    textarea,
    .ant-select-selector,
    .ant-picker.ant-picker-disabled {
      background-color: #fff !important;
      cursor: initial !important;
      border: none !important;
      color: #333 !important;
    }
    .ant-select-arrow {
      display: none;
    }
    .ant-input-number {
      border: none !important;
      flex: none !important;
    }
    .ant-cascader-picker-disabled {
      color: #333 !important;
      .ant-cascader-picker-arrow {
        display: none;
      }
    }
  }
}
