.Sys {
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border: none !important;
  }

  .ant-menu-item.ant-menu-item-selected,
  .ant-menu-submenu-selected {
    background-color: rgb(20, 24, 47) !important;

    .menu-item {
      opacity: 1;
    }
  }

  .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-inline-collapsed > .ant-menu-item {
    padding: 0 0 !important;
    width: 100%;
    height: 60px;
    margin: 0 !important;
    color: rgba(255, 255, 255, 0.65);
  }

  .menu-item {
    opacity: 0.8;
    display: block;
    width: inherit;
    height: inherit;
    color: #fff;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      line-height: 21px;
    }

    img {
      width: 21px;
      height: 21px;
    }
  }

  .Sider,
  .ant-menu {
    background: #202852;
    width: 60px !important;
    max-width: 60px !important;
    min-width: 60px !important;
  }

  .Sider {
    padding-top: 30px;
    min-height: 100vh;
  }

  .ant-layout-content {
    padding: 12px;
  }

  .ant-layout-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 10px 0 rgba(88, 104, 217, 0.21);
  }

  .header-logo {
    display: flex;
    flex: 1;
    align-items: center;

    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      margin-left: 12px;
      width: 100%;
    }
  }

  .header-set {
    p {
      margin: 0;
    }

    .header_set_content {
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;

      .user-area {
        padding: 0 12px;
        margin: 0;
        text-align: center;

        .user-name {
          display: block;
          color: #5868d9;
          font-size: 14px;
          line-height: 20px;
        }

        .company-name {
          display: block;
          color: #666;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}

.ant-menu-inline-collapsed-tooltip {
  display: none !important;
}

.ant-table-tbody > tr .FetchTable > .ant-table-wrapper:only-child .ant-table {
  margin: 0;
}
