.SetWeightRuleModal {
  .line-item {
    display: flex;
    align-items: center;
    & > div {
      width: 100%;
    }
    .controller-btns {
      width: 100px;
    }
    .label {
      display: inline-block;
      width: 60px;
    }
  }
}
